*/config/development
*/logs/log-*.php
*/logs/!index.html
*/cache/*
*/cache/!index.html
*/cache/!.htaccess

.*
!.gitignore
!.editorconfig
!.htaccess
application/img/uploads/*.png
application/img/uploads/*.gif
application/img/uploads/*.jpg
